body {
  margin: 0;
}

.container {
  margin: 0;
}

.login-container {
  position: absolute;
  left: 55%;
  top: 35%;
  margin-top: -100px ;
  margin-left: -200px;
  background-color: rgb(231, 231, 231);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: relative;
  top: 70px; */

}

.form-group {
  margin: 10px;
}

.form-label {
  display: block;
  margin: 5px 0;
  font-weight: 600;
}

.form-control {
  padding: 10px;
  border: none;
  width: 260px;
}
.form-check{
  display: flex;
  gap: 40px;
}


.login-btn{
  padding: 10px;
  border: none;
  width: 260px;
  border-radius: 20px;
  background-color: rgb(69, 69, 255);
  font-weight: 600;
  color: white;
  margin: 15px 0;
}

/* h1{
  margin: 0;
} */